html, body, *{
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #eeeeee;
}
footer{
  margin-top: 1rem;
  text-align: center;
  justify-content: center;
  padding: 1rem;
  background-color: #000000;
  color: #ffffff;
}
footer li{
  list-style: none;
  display: inline;
  padding: 3px;
}
footer a{
  color: #ffffff;
}

.contact-container{
  display: flex;
  justify-content: center;
}
.contact-footer{
  float: left;
  padding: 1rem;
}
.contact-logo{
  justify-content: center;
}
.contact-logo img{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  width: 80px;
  height: 80px;
  border-radius: 50px;
}