html,
body,
* {
  margin: 0;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "Montserrat", sans-serif;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #eeeeee;
}

/* *Scroll Coolbox */
::-webkit-scrollbar {
  width: 6px;
  height: 3px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #4a4a4a;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background: #a1a1a1;
}
::-webkit-scrollbar-track {
  background: #e3e3e3;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #e3e3e3;
}
::-webkit-scrollbar-track:active {
  background: #f0f0f0;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
